/Clase3/ExamenPrimerParcial/nbproject/private/
/Clase3/ExamenPrimerParcial/build/
/Clase3/EjemploJava/nbproject/private/
/Clase3/EjemploJava/build/
/Clase3/EjemplosTutoria/nbproject/private/
/Clase3/EjemplosTutoria/build/
/Clase3/Repaso-ciclo-while/nbproject/private/
/Clase3/Repaso-ciclo-while/build/
/Clase3/Semana7/nbproject/private/
/Clase3/Semana7/build/
/Clase3/Taller1/nbproject/private/
/Clase3/Taller1/build/
/Clase3/TareaCicloFor/nbproject/private/
/Clase3/TareaCicloFor/build/