/Clase3/ExamenPrimerParcial/nbproject/private/
/Clase3/ExamenPrimerParcial/build/
/Clase3/EjemploJava/nbproject/private/
/Clase3/EjemploJava/build/
/Clase3/EjemplosTutoria/nbproject/private/
/Clase3/EjemplosTutoria/build/
/Clase3/Repaso-ciclo-while/nbproject/private/
/Clase3/Repaso-ciclo-while/build/
/Clase3/Semana7/nbproject/private/
/Clase3/Semana7/build/
/Clase3/Taller1/nbproject/private/
/Clase3/Taller1/build/
/Clase3/TareaCicloFor/nbproject/private/
/Clase3/TareaCicloFor/build/
/Clase3/EjerciciosDoWhile/nbproject/private/
/Clase3/EjerciciosDoWhile/build/
/Clase3/ExamenPrimerBimestre/nbproject/private/
/Clase3/ExamenPrimerBimestre/build/
/Clase3/Metodos/nbproject/private/
/Clase3/Metodos/build/
/Clase3/MetodosEjercicios/nbproject/private/
/Clase3/MetodosEjercicios/build/
/Clase3/Semana13/nbproject/private/
/Clase3/Semana13/build/
/Clase3/taller-2bim/nbproject/private/
/Clase3/taller-2bim/build/
/Clase3/Semana 14/nbproject/private/
/Clase3/Semana 14/build/
/Clase3/Semana15/nbproject/private/
/Clase3/Semana15/build/
/Clase3/ChristianJimbo/nbproject/private/
/Clase3/ChristianJimbo/build/
/Clase3/JoseCalva/nbproject/private/
/Clase3/Busqueda_Secuencial/nbproject/private/
/Clase3/Busqueda_Secuencial/build/
/Clase3/Recursividad/nbproject/private/
/Clase3/Recursividad/build/
/Clase3/Matrices/nbproject/private/
/Clase3/Matrices/build/
/Clase3/PruebaFactura/nbproject/private/
/Clase3/PruebaFactura/build/
/Clase3/Informacion/nbproject/private/
/Clase3/Informacion/build/
/Clase3/PruebaInformacion/nbproject/private/
/Clase3/PruebaInformacion/build/
/Clase3/Complejo/nbproject/private/
/Clase3/Pruebacomplejo/nbproject/private/
/Clase3/Pruebacomplejo/build/
/Clase3/Hablador/nbproject/private/
/Clase3/TestHablador/nbproject/private/
/Clase3/TestHablador/build/
/Clase3/Principal/nbproject/private/
/Clase3/Principal/build/
/Clase3/Persona/nbproject/private/
/Clase3/Persona/build/
/Clase3/ListasEnlazadas/nbproject/private/
/Clase3/ListasEnlazadas/build/
/Clase3/Proyecto_Colegio/nbproject/private/
/Clase3/Proyecto_Escuela/nbproject/private/
/Clase3/Proyecto_Guarderia/nbproject/private/
/Clase3/Proyecto_Guarderia/build/
/Clase3/TareaListasE/nbproject/private/
/Clase3/TareaListasE/build/
/Clase3/NodoOpc/nbproject/private/
/Clase3/Pila/nbproject/private/
/Clase3/Pila/build/
/Clase3/Interfaces/nbproject/private/
/Clase3/Interfaces/build/
/Clase3/ExamenBimestralEstructura1/nbproject/private/
/Clase3/ExamenBimestralEstructura1/build/